img{
    width: 200px;
}
body {
        text-align: center; 
        font-family: "Arial";
        background: linear-gradient(#b7b5ff,#ffb4dd);
        width: 100vw;
        margin: 0px 0px 0px 0px;
        overflow-x: hidden;
        color:#f4f6ff;
}
#drag {
    width: 800px;
    height: 450px;
}